html {
    font-size: 14px;
    
}
body {
    font-family: 'Lato', serif;
    color: #666666;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.nav-link.active {
    color: #337ab7 !important;
}

.btn-primary {
    background-color: #337ab7;
    border-color: #337ab7;
}

.page-item.active .page-link {
    background-color: #337ab7;
    border-color: #337ab7;
}

.page-link {
    color:  #337ab7;
}

.bg-light {
    /* background-color: #f5f5dc !important; */
    /* background-color: #fffee5 !important; */
   background-color: #f7f7f7 !important;
}

/*

.navbar-main {
    box-shadow: 0px 1px 4px 1px lightgrey;
    height: 50px;
    font-size: 0.8rem;
}

.navbar-soapbox {
    height: 80px;
    border-bottom: 1px solid #eee;
}

.soapbox-links .nav-link span {
    margin-right: 5px;
}


.fa-rss-square {
    color: #ffa872
}

.maincontent {
    padding-top: 20px;
    padding-bottom: 20px;
}

article {
    margin-top: 40px;
}

.article-list-header {
    font-size: 1.2em;
}

.article-info {
    color: #888;
    font-size: 14px;
    margin-bottom: 0.3em;
}

.article-info a {
    color: #888;
}

.article-info-span:first-child {
    margin-left: 0px;
}

.article-info-span {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.article-header, .page-header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

article header h1 {
    margin-top: 5px;
    font-size: 2em;
}

.article-header .p-name {
    color: #333;
}

.card p:last-child {
    margin-bottom: 0px;
}

.index-link {
    font-size: 16px;
}

.index-link span {
    margin-right: 5px;
}

.pagination {
    margin: 20px 0px;
}

.page-footer {
    border-top: 1px solid rgba(0,0,0,0.125);
    padding: 10px 0;
}

.bg-light, .card-footer  {
    background-color: #f2f8f2 !important;
}

.card {
    border: 1px solid #d5e7d5;
}

.navbar-soapbox {
    border-bottom: 1px solid #d5e7d5;
}

.card-fotter {
    border-top: 1px solid #d5e7d5;
}
*/