body {
    padding-top: 42px;
    font-family: 'Lato', serif;
    font-size: 16px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

.navbar-main {
    box-shadow: 0px 1px 4px 1px lightgrey;
    height: 40px;
    font-size: 0.8rem;
}

.navbar-main .navbar-brand {
    font-size: 1rem;
}

.navbar-soapbox h1 {
    margin: 0px;
    margin-right: 10px;
}

.navbar-soapbox {
    height: 80px;
    border-bottom: 1px solid #eee;
}

.soapbox-links .nav-link span {
    margin-right: 5px;
}

.fa-facebook-square {
    color: #4d67a3;
}

.fa-instagram {
    color:  #8a3ab9
}

.fa-twitter {
    color: #25a7df;
}

.fa-linkedin-in {
    color: #0178b5;
}

.maincontent {
    padding-top: 20px;
    padding-bottom: 20px;
}

article {
    margin-top: 40px;
}

.article-list-header {
    font-size: 1.2em;
}

.article-info {
    color: #888;
    font-size: 14px;
    margin-bottom: 0.3em;
}

.article-info-span:first-child {
    margin-left: 0px;
}

.article-info-span {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.article-header, .page-header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

article header h1 {
    margin-top: 5px;
    font-size: 2em;
}

.article-header .p-name {
    color: #333;
}

.card-index .card {
    margin-bottom: 5px;
}

.card p:last-child {
    margin-bottom: 0px;
}

.index-link {
    font-size: 16px;
}

.index-link span {
    margin-right: 5px;
}

.pagination {
    margin: 20px 0px;
}

.page-footer {
    border-top: 1px solid rgba(0,0,0,0.125);
    padding: 10px 0;
}
