body {
    padding-top: 42px;
    font-family: 'Lato', serif;
    font-size: 16px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

.navbar-main {
    box-shadow: 0px 1px 4px 1px lightgrey;
    height: 40px;
    font-size: 0.8rem;
}

.navbar-main .navbar-brand {
    font-size: 1rem;
}

.navbar-soapbox h1 {
    margin: 0px;
    margin-right: 10px;
}

.navbar-soapbox {
    height: 80px;
    border-bottom: 1px solid #eee;
}

.soapbox-links .nav-link span {
    margin-right: 5px;
}

.fa-facebook-square {
    color: #4d67a3;
}

.fa-instagram {
    color:  #8a3ab9
}

.fa-twitter {
    color: #25a7df;
}

.fa-linkedin-in {
    color: #0178b5;
}

.maincontent {
    padding-top: 20px;
    padding-bottom: 20px;
}

article {
    margin-top: 40px;
}

.article-list-header {
    font-size: 1.2em;
}

.articleinfo {
    color: #888;
    font-size: 85%;
}

.postedon, .postedin {
    margin-right: 0.3em;
}

.page-header {
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

article header h1 {
    margin-top: 5px;
    font-size: 2em;
}

article h1 a {
    color: #333;
}

.summary {
    margin-top: 20px;
}

.card-index .card {
    margin-bottom: 5px;
}
