<div class="article-info">
    <div class="article-info-line">
        <span class="article-info-span">
            <span class="fa fa-folder"></span>
            <a href="{{ SITEURL }}/{{article.category.url}}" class="p-category">{{article.category}}</a>
        </span>
        {% if article.tags %}  
        &#183;
        <span class="article-info-span">
            {% for tag in article.tags: %}
            <a href="{{ SITEURL }}/{{ tag.url }}" class="p-category">#{{tag}}</a>
            {% endfor %}
        </span>
        {% endif %}
        &#183;
        <a class="article-info-span"
           href="{{ SITEURL }}/{{article.url}}"><span class="fa fa-bookmark"></a></span>
    </div>
    {% include 'includes/comment_count.html' %}
</div>
