{% extends "article_list.html" %}

{% block title %}
Blog - {{ SITENAME }}
{% endblock%}

{% block meta %}
<meta name="author" content="{{ AUTHOR }}" />
<meta name="robots" content="noindex,follow" />
{% endblock %}

{% block article_list_title %}
<header class="blogheader article-list-header">
    Blog
    <div class="category-rsslinks"> 
        {% if BLOG_FEED_RSS %}
        <a class="index-link" href="{{ SITEURL }}/{{ BLOG_FEED_RSS|format(slug=tag) }}">
            <span class="fa fa-rss-square"></span>Subscribe</a>
        {% endif %}
    </div>
</header>
{% endblock %}
